# Ignore virtual environments
venv/
.env/

input.mp4

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/

# Output frames and logs
*.jpg
*.png
*.log
